@use '@styles/common' as *;
@use '@carbon/styles/scss/utilities/button-reset';

.issueNotFound {
  width: 100%;
  height: calc(100dvh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;

  .icon {
    @include type-style('heading-07');

    color: $support-caution-major;
  }

  .title {
    @include type-style('heading-03');
  }

  .body {
    @include type-style('body-01');

    margin: 0.25rem 0 2rem;
  }
}

.header {
  width: 100%;
  padding: 1.5rem;
  border-bottom: rem(1px) solid $border-subtle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: $background;
  z-index: 999;

  .titleWrapper {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    white-space: nowrap;

    h3 {
      font-weight: 400;
      font-size: rem(20px);
    }

    > :last-child {
      display: flex;

      > * {
        align-self: center;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .breadcrumb {
    @include button-reset.reset();
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    color: $interactive;
    @include type-style('label-02');
    margin-inline-end: 0.25rem;
  }
}

.form {
  max-width: calc(100% / 3);
  min-width: rem(441px);
  padding-inline: 2rem;
  padding-block-start: rem(89px);
  padding-block-end: 5rem;
  margin: 0 auto;

  h5 {
    padding-block-end: 0.5rem;
    margin-block-start: 2rem;
    border-bottom: rem(1px) solid $border-subtle;
  }

  section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &:not(:first-of-type) {
      padding-block-start: 1.5rem;
    }
  }

  .resolution {
    margin-top: 1.5rem;
  }
}

.notification {
  position: fixed;
  right: 1rem;
  top: 4rem;
}

.selectorWrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  > :first-child {
    flex: 1;
  }
}

.paddingBlockStart {
  padding-block-start: 2rem;
}

.empty {
  @include type-style('body-01');
  color: $text-secondary;
}

.detailedSearchModuleItemTag {
  margin-left: 0 !important;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
