@use '@styles/common' as *;

.root {
  &.horizontal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.25rem;
  }

  button.tagBtn {
    //add button
    > :first-child {
      margin-right: 0;
    }

    > :last-child {
      display: none;
    }

    background: transparent;
    padding-inline-end: 0.25rem;
  }
}

.popover {
  .tagWrapper {
    max-height: rem(300px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: flex-start;
    padding-inline: 0.25rem;
    button {
      margin-inline: 0.25rem;
      margin-block: 0.25rem;
    }
  }

  //flags
  &.verticalTagBtnPopover {
    position: absolute;
    top: -0.25rem;
    left: 3.75rem;

    button.tagBtn {
      //add button
      min-block-size: rem(18px);
    }
  }
}

.list {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;

  :global(.cds--popover--bottom:not(.cds--popover--auto-align) > .cds--popover > .cds--popover-content) {
    white-space: nowrap;
    max-width: fit-content;
  }

  > * {
    //remove left-margin of the tags
    margin-left: 0;
  }

  &.vertical {
    * {
      max-width: 100%;
    }

    :global(.cds--popover--bottom:not(.cds--popover--auto-align) > .cds--popover > .cds--popover-content) {
      transform: translate(-97%, calc(100% + 0.5rem));
    }
  }

  &.horizontal {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.empty {
  @include type-style('label-01');
  color: $text-primary;
}

.root .popover button.addNewBtn {
  background: transparent;
  margin-block-end: 0.5rem;
}
