@use '@styles/common' as *;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .runInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.75rem;

    .link {
      display: flex;
      align-items: center;
      gap: rem(8px);
      width: fit-content;
    }

    h2 {
      span {
        font-weight: 300;
      }
    }
  }
}

.gridWrapper {
  width: 100%;
  height: calc(100dvh - rem(300px));
  margin-block-start: 0.5rem;
}
