@use '@styles/common' as *;

.validator {
  padding: 0.75rem 1rem 0;
  border: rem(1px) solid $border-subtle-00;
  background: $layer-02;

  @include type-style('body-01');

  .validatorTitle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > :first-child {
      @include type-style('heading-01');

      line-height: 2;
      white-space: nowrap;
      padding-right: 0.75rem;
    }

    .tests {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      column-gap: 0.5rem;

      @include type-style('label-01');

      color: $text-secondary;

      > :first-child {
        white-space: nowrap;
        line-height: 1;
        padding-block: 0.5em;
      }

      button {
        background: transparent;
      }
    }
  }

  > div {
    margin-bottom: 1rem;
  }

  .na {
    padding-left: 1rem;
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
