@use '@styles/common' as *;
@use '@carbon/styles/scss/utilities/button-reset';

.toolbar {
  inline-size: 100%;
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 1rem;

  > :last-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
