@use '@styles/common' as *;

.wrapper {
  position: relative;
}

.selectedItems {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem;
  row-gap: 1rem;
  max-width: calc(100% - rem(58px) - 3rem); //total, open handle
  padding: 0.5rem 0.875rem 0 0.25rem;
  block-size: rem(40px);
  overflow: hidden;
  left: rem(58px);
  position: absolute;
  bottom: 0;

  :global(.cds--popover) {
    display: none;
  }
}

.ellipsis {
  position: absolute;
  right: 0;
  inset-block-end: calc(rem(20px) - rem(2px));
}

.dropdown {
  :global(.cds--list-box__menu-item),
  :global(.cds--list-box__menu-item__option) {
    min-block-size: rem(100px);
    block-size: fit-content;
    padding-left: 0;
    padding-right: 0;
  }

  :global(.cds--list-box__selection) {
    display: none;
  }
}

.itemTag {
  margin-right: 0 !important;
  margin-left: 0rem !important;
}

.item {
  > label {
    display: inline-block;
    inline-size: 100%;
    @include type-style('heading-01');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-end: 0.5rem;
  }

  .row {
    display: flex;
    row-gap: rem(8px);
    column-gap: rem(24px);

    > * {
      flex: 1;
    }
  }
}
