@use '@styles/common' as *;

.additionalParametersHeader {
  margin-block-start: 2rem;
  margin-block-end: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  color: $text-secondary;
}
