@use '@styles/common' as *;

.radioGroup {
  margin-top: 1rem;
}

.modelInformationFields {
  max-width: 50%;

  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  @include breakpoint-down(md) {
    max-width: 100%;
  }
}

.parametersFields {
  margin-top: 1.5rem;

  h4 {
    @include type-style('heading-compact-01');
  }

  .defaultParameters {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > * {
      width: 50%;
      max-width: 50%;
    }
  }

  .thinking {
    display: flex;
    align-items: center;

    :global(.cds--toggle) {
      margin-right: 2rem;
    }

    :global(.cds--checkbox-wrapper) {
      flex: 0;
      margin-right: 1rem;
    }

    > span {
      margin-left: 0.25rem;
      @include type-style('label-01');
      color: $text-secondary;
    }
  }

  .customParametersHeader {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .customParameters {
    > div {
      display: flex;
      align-items: center;

      > * {
        width: 33.33%;
        max-width: 33.33%;
      }
    }
  }
}

.missingWxWarning {
  display: flex;
  align-items: center;
  color: $text-secondary;

  @include type-style('body-01');

  > :first-child {
    fill: $support-warning;
    margin-right: 0.5rem;
  }
}
