@use '@styles/common' as *;

.header {
  p {
    @include type-style('body-01');

    max-width: 50em;
    color: $text-secondary;
    margin-top: 0.75rem;
  }

  margin-bottom: 2rem;
}

.contents {
  padding-block-end: 4rem;
  margin-inline: -2rem;
  inline-size: calc(100% + 4rem);

  section {
    margin-block-start: 1.5rem;
    padding-block-start: 1rem;

    h3 {
      @include type-style('heading-03');
      color: $text-secondary;
      font-size: rem(18px);
    }
  }

  >.byScore {
    margin-block-end: 1.5rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset-block-end: -1.5rem;
      inset-inline-start: -2rem;
      block-size: 1.5rem;
      inline-size: calc(100% + 2rem);
      background-color: $layer-01;
      border-block-start: rem(1px) solid $border-subtle-00;
      border-block-end: rem(1px) solid $border-subtle-00;
    }
  }
}

.old {
  float: right;
  margin-block-start: -4rem;
}

.filterRow {
  background-color: $layer-01;
  padding: 1rem 2rem;
  border-block-start: rem(1px) solid $border-subtle-00;
  border-block-end: rem(1px) solid $border-subtle-00;

  > div {
    padding: 1rem;
    background-color: $background;
    border: rem(1px) solid $border-subtle-00;

    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      > h3 {
        color: $text-secondary;
        font-weight: 600;
      }

      > span {
        font-size: rem(12px);
      }

      display: flex;
      gap: $spacing-04;
      align-items: center;

      :global(.cds--checkbox-wrapper) {
        margin-block-end: 0 !important;
      }
    }
  }

  :global(#filter-better:checked) + label::before {
    background-color: var(--cds-chart-better);
  }

  :global(#filter-worse:checked) + label::before {
    background-color: var(--cds-chart-worse);
  }

  :global(#filter-same:checked) + label::before {
    background-color: var(--cds-chart-same);
  }

  :global(#filter-no-overlap:checked) + label::before {
    background-color: var(--cds-chart-default);
  }
}