@use '@styles/common' as *;

.header,
.tableWrapper {
  width: 100%;
  transition: 0.2s;
}

.header {
  p {
    @include type-style('body-01');

    max-width: 50em;
    color: $text-secondary;
    margin-top: 0.75rem;
  }

  margin-bottom: 2rem;
}

.tableWrapper {
  position: relative;
  height: calc(100dvh - rem(300px));
}

.narrow {
  .header,
  .tableWrapper {
    width: calc(100% - 21.875rem);
  }
}

.strong {
  font-weight: 600;
}
