@use '@styles/common' as *;

.root {
  @include breakpoint-up('lg') {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 1rem;
  }
}

.contents {
  flex: 1;

  > * {
    margin-block-end: 1.5rem;
  }
}

.header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  h2 {
    padding-inline-end: 0.25rem;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  flex: 1;
}

.commentButton {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .wrapper {
    margin-block-start: -1rem;
    margin-inline-end: -0.5rem;
    position: relative;
    align-self: flex-end;

    > :first-child {
      position: relative;
    }
  }
}

.commentOn {
  background-color: $layer-accent-01;
}

.commentCount {
  position: absolute;
  inset-block-start: rem(6px);
  inset-inline-end: rem(6px);
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include type-style(label-01);
  color: $text-inverse;
  background: $icon-secondary;
}

.commentWrapper {
  margin-block-start: 1rem;
  margin-block-end: 2rem;

  @include breakpoint-up('lg') {
    margin-block: 0;
    container-type: size;
    --container-height: 100cqh;
    min-inline-size: rem(300px);
    max-inline-size: rem(300px);
    margin-inline-start: 1rem;
  }
}
