@use '@styles/common' as *;
@use '@carbon/styles/scss/utilities/button-reset';

.root {
  position: relative;

  .displayModeButton {
    @include type-style(label-01);
    position: absolute;
    inset-block-start: rem(-4px);
    inset-inline-start: rem(calc(55.62px + 2px));
  }

  &.promptText .displayModeButton {
    inset-inline-start: rem(calc(235px + 2px));
  }
}

.message {
  max-inline-size: 90ch;

  > div {
    padding-block-end: 0.5rem;
  }

  p {
    @include type-style('body-01');
    white-space: pre-wrap;
    word-break: break-word;
    max-inline-size: 90ch;
  }

  > ul > li > ul > li {
    span:has(+ ul) {
      color: transparent !important; //hide # of items displayed when collapsed
    }

    > ul > li {
      padding-left: 0.25rem !important; //reduce inline padding
    }
  }

  .content {
    margin-block-end: 1rem;
  }

  label {
    @include type-style('label-02');
  }

  label:has(> .emptyLabel) {
    display: none !important; //hide empty label (=key) from JSON tree
  }

  li {
    text-indent: 0 !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0.5rem;

  .action {
    display: flex;
    border: rem(1px) solid $text-helper;
    border-radius: 0.25rem;

    button {
      @include button-reset.reset();
      color: $text-secondary;
      padding: 0.2rem 0.5rem;
      @include type-style('label-01');
      white-space: nowrap;

      &.selected {
        background: $text-helper;
        color: $text-inverse;
      }
    }
  }
}
